//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;


.overlay-header {
    @include mixins.flex-center;
    padding: 1rem;
    background-color: var.$color-primary;

    h3 {
        color: var.$color-white;
    }
}

#menu-mobile {
    color: var.$color-black;
}

.overlay-close {
    background-color: var.$color-white;
    max-height: 100%;

    button {
        a {
            color: var.$color-black;
        }
    }

    ul,
    li {
        color: var.$color-black;
    }
}
